Latest OPUS fails to decode one file

Hello!

Recently I found a file that won't be open by latest opus and opusfile (the "opusfile_example" returns the error -139 on attempt to open it). File gets normally open by VLC and FFMPEG. I have no clue why it won't gets open.

To verify the thing, I built both latest opus and opusfile, and result is the same.

The faulty file attached: [test-file.zip](https://github.com/xiph/opusfile/files/11581701/test-file.zip)


opusinfo reports "Samples with negative granpos in stream 1".

The first audio data page contains 51 packets of 20ms each for a total of 48960 samples, however the granule position is only 48952.  This is a bug in the program that created the file.

See [RFC 7845 section 4.5](https://datatracker.ietf.org/doc/html/rfc7845#section-4.5):
> The granule position of the first audio data page with a completed
> packet MAY be larger than the number of samples contained in packets
> that complete on that page.  However, it MUST NOT be smaller, unless
> that page has the 'end of stream' flag set.

also
> An implementation MUST treat any stream as invalid if the granule
> position is smaller than the number of samples contained in packets
> that complete on the first audio data page with a completed packet,
> unless that page has the 'end of stream' flag set.

Okay, that was a failure of Audacity 3.2 for Windows used by the guy who sent me this file. Thanks for clarifying the reason of the error!